.ScrollToTopWidget {
  display: none;
  background-color: rgba(18, 18, 18, 0.5);
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.5);
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.ScrollToTopWidget svg {
  fill: #00D4FF;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 212, 255, 0.8));
  filter: drop-shadow(0 0 5px rgba(0, 212, 255, 0.8));
}

.ScrollToTopWidget:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.ScrollToTopWidget:hover svg {
  -webkit-animation: around 1s linear infinite forwards;
  animation: around 1s linear infinite forwards;
}

@keyframes around {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}