header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #2e2e2e;
}

header nav a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  height: 2px;
  width: 100%;
  -webkit-transition: 0.3 ease-out;
  -moz-transition: 0.3 ease-out;
  -ms-transition: 0.3 ease-out;
  -o-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}

header nav a:hover::after {
  background-color: #00e5ff;
}