html,
body {
  max-width: 100vw;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  height: 100%;
  min-height: calc(100vh - 100px - 79px);
}