html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 100px - 79px);
}

.container .intro__inner {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
}

.container:has(.intro__inner) {
  max-width: 100vw;
}
