.partners {
  padding: 100px 0px;
  background: radial-gradient(circle at top, #0a0a0a 0%, #111 100%);
  color: #fff;
  overflow: hidden;
  position: relative;
}

.partners__title {
  font-size: clamp(2rem, 5vw, 3rem);
  color: #00c3ff;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-shadow:
    0 0 10px #00c3ff,
    0 0 20px #00c3ff;
}

.partners__grid.vip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 40px;
  justify-content: center;
  margin-bottom: 80px;
}

.partner__card {
  width: 200px;
  height: 260px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner__card:hover {
  box-shadow: 0 20px 40px rgba(0, 195, 255, 0.5);
  transform: translateY(-5px) scale(1.05);
}

.partner__img img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
}

.partners__slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 20px;
}

.partner__brand {
  width: 150px;
  height: 180px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.partner__brand:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 195, 255, 0.5);
}

.partner__brand img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.partner__brand span {
  display: block;
  margin-top: 8px;
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
